@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
   font-family: 'Poppins', sans-serif;
   background-color: #0F0F0F;
}
header{
    background-color: #121212;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    z-index: 1000;
}

.nav-container{
    display: flex; /*Para poder colocar o conteúdo todo em uma linha*/
    width: 90%;
    justify-content: space-between;     /*Coloca a logo pra esquerda e o menu na direita*/
    margin: 0 auto;
    height: 100%;
}
.menu{
    display: inline-flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}
.menu a:hover{        /*Parte mais chave, serve para dar efeito quando passar o mouse*/
    color: rgb(165, 5, 5);
    cursor: pointer; /*Coloca uma mãozinha no cursor*/
    transition: 0.3s;   /*Animação para mudar de cor*/
}
.menu li a{
    text-decoration: none;
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
}
.btn-user{
    background: transparent;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
}
.btn-user:hover{
    color: rgb(165, 5, 5);
    transition: 0.3s;
}
.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #ffff;
}